<%= f.fields_for :people_attributes do |people_fields| %>
  <div class="form-data">
    <%= people_fields.label :name, "Nome" %><br />
    <%= people_fields.text_field :name, placeholder: "Nome", class: "form-control w-100" %>
  </div>
  <div class="form-data">
    <%= people_fields.label :last_name, "Sobrenome" %><br />
    <%= people_fields.text_field :last_name, placeholder: "Sobrenome", class: "form-control w-100" %>
  </div>
  <div class="form-data">
    <%= people_fields.label :telephone, "Telefone" %><br />
    <%= people_fields.text_field :telephone, placeholder: "Telefone", class: "form-control w-100" %>
  </div>
  <div class="form-data">
    <%= people_fields.label :birth_date, "Data de nascimento" %><br />
    <%= people_fields.date_field :birth_date, placeholder: "Data de nascimento" %>
  </div>
  <div class="form-data">
    <%= people_fields.label :cpf, "CPF/Cnpj" %><br />
    <%= people_fields.text_field :cpf, id: "cpf_cnpj_field", placeholder: "CPF/Cnpj:" %>
  </div>
  <div class="form-data">
    <%= people_fields.label :address, "Endereço" %><br />
    <%= people_fields.text_field :address, placeholder: "Endereço:", class: "form-control w-100" %>
  </div>
<% end %>