<div id="<%= dom_id leasing %>">
  <p>
    <strong>Leasing type:</strong>
    <%= leasing.leasing_type_id %>
  </p>

  <p>
    <strong>Date leasing:</strong>
    <%= leasing.date_leasing %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= leasing.return_date %>
  </p>

  <p>
    <strong>Leasing value:</strong>
    <%= leasing.leasing_value %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= leasing.payment_method_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= leasing.card_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= leasing.number %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= leasing.cvv %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= leasing.due_date %>
  </p>

  <p>
    <strong>Cardholder name:</strong>
    <%= leasing.cardholder_name %>
  </p>

  <p>
    <strong>Persona iden number:</strong>
    <%= leasing.persona_iden_number %>
  </p>

</div>
