<div id="<%= dom_id document %>">
  <p>
    <strong>People:</strong>
    <%= document.people_id %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= document.document_type_id %>
  </p>

  <p>
    <strong>Number document:</strong>
    <%= document.number_document %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= document.expiration_date %>
  </p>

</div>
