<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :people_id, style: "display: block" %>
    <%= form.text_field :people_id %>
  </div>

  <div>
    <%= form.label :document_type_id, style: "display: block" %>
    <%= form.text_field :document_type_id %>
  </div>

  <div>
    <%= form.label :number_document, style: "display: block" %>
    <%= form.text_field :number_document %>
  </div>

  <div>
    <%= form.label :expiration_date, style: "display: block" %>
    <%= form.date_field :expiration_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
