<%= form_with(model: address_type) do |form| %>
  <% if address_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address_type.errors.count, "error") %> prohibited this address_type from being saved:</h2>

      <ul>
        <% address_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address_type, style: "display: block" %>
    <%= form.text_field :address_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
