<%= form_with(model: payment_card) do |form| %>
  <% if payment_card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment_card.errors.count, "error") %> prohibited this payment_card from being saved:</h2>

      <ul>
        <% payment_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :card_brand, style: "display: block" %>
    <%= form.text_field :card_brand %>
  </div>

  <div>
    <%= form.label :card_network, style: "display: block" %>
    <%= form.text_field :card_network %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
