<p style="color: green"><%= notice %></p>

<%= render @payment_card %>

<div>
  <%= link_to "Edit this payment card", edit_payment_card_path(@payment_card) %> |
  <%= link_to "Back to payment cards", payment_cards_path %>

  <%= button_to "Destroy this payment card", @payment_card, method: :delete %>
</div>
