<div id="<%= dom_id address %>">
  <p>
    <strong>Address name:</strong>
    <%= address.address_name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= address.number %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= address.cep %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= address.municipality %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>People:</strong>
    <%= address.people_id %>
  </p>

  <p>
    <strong>Address type:</strong>
    <%= address.address_type_id %>
  </p>

</div>
