<div id="<%= dom_id leasing_car %>">
  <p>
    <strong>Leasing type:</strong>
    <%= leasing_car.leasing_type_id %>
  </p>

  <p>
    <strong>Date leasing:</strong>
    <%= leasing_car.date_leasing %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= leasing_car.return_date %>
  </p>

  <p>
    <strong>Leasing value:</strong>
    <%= leasing_car.leasing_value %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= leasing_car.payment_method_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= leasing_car.card_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= leasing_car.number %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= leasing_car.cvv %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= leasing_car.due_date %>
  </p>

  <p>
    <strong>Cardholder name:</strong>
    <%= leasing_car.cardholder_name %>
  </p>

  <p>
    <strong>Personal iden number:</strong>
    <%= leasing_car.personal_iden_number %>
  </p>

  <p>
    <strong>Car model:</strong>
    <%= leasing_car.car_model_id %>
  </p>

  <p>
    <strong>People:</strong>
    <%= leasing_car.people_id %>
  </p>

</div>
