<div id="<%= dom_id car_model %>">
  <p>
    <strong>Model names:</strong>
    <%= car_model.model_names %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car_model.color %>
  </p>

  <p>
    <strong>Number doors:</strong>
    <%= car_model.number_doors %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= car_model.plate %>
  </p>

  <p>
    <strong>Renavam:</strong>
    <%= car_model.renavam %>
  </p>

  <p>
    <strong>Chassis:</strong>
    <%= car_model.chassis %>
  </p>

  <p>
    <strong>Country origin:</strong>
    <%= car_model.country_origin %>
  </p>

  <p>
    <strong>Brand type:</strong>
    <%= car_model.brand_type_id %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= car_model.platform_id %>
  </p>

</div>
