<!DOCTYPE html>
<html>
  <head>
    <title>HubDriveExpress</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item active"><%= link_to 'Home', root_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
             <li class="nav-item"><%= link_to "Sair", destroy_user_session_url, method: :delete, class: "nav-link"%>
          <% else %>
            <li class="nav-item"><%= link_to 'Entrar', new_user_session_url, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item"> <a href="#" class="nav-link"> About </a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"> Contact Us </a> </li>
        </ul>

        <% if current_user.present? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"> <%= link_to "Sair", destroy_user_session_url, method: :delete, class: "nav-link"%> </li>
            <li class="nav-item"> <span class="nav-link text-end">Seja bem vindo <%= current_user.people.name %></span> </li>
          </ul>
          <% end %>
      </div>
    </nav>
    <div style="margin-top: 110px;">    
      <div class="container">
        <% flash.each do |type, message| %>
          <% if type == "alert"%>
            <div class="notice notice-danger"  role="alert"  id="flash-message" >
              <strong><i class="bi bi-exclamation-circle-fill"></i> <%= message %></strong>
            </div>
          <% else %>
            <div class="notice notice-info"  role="alert"  id="flash-message" >
              <strong><i class="bi bi-check-circle-fill"></i></i> <%= message %></strong>
            </div>
          <% end %>
        <% end %>

        <% if defined?(resource) && resource.errors.any? %>
          <div class="notice notice-danger" role="alert" id="flash-message">
            <strong><i class="bi bi-exclamation-circle-fill"></i> <%= I18n.t("errors.messages.not_saved",
                        count: resource.errors.count,
                        resource: resource.class.model_name.human.downcase)
            %></strong>
            <ul>
              <% resource.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash-message').remove();
    }, 5000);
  });
</script>
<%= console %>
